.itemCountDiv{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContentDetail{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.itemCardDetail{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imgItemDetail{
    width: 100%;
    height: 100%;
}

.divDescBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.singleItemContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}