
.navBarDiv{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 100%;
    grid-template-areas: "logo about shpcart";
    background-color: rgb(175, 240, 248);
}
/*--------------------------------------------------------------------------*/
.imgNavBar{
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imgLogo{
    width: 10rem;
    height: 10rem;
}
/*--------------------------------------------------------------------------*/

.divAbout{
    grid-area: about;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: auto;
}

.listAbout{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.itemAbout{
    display: flex;
    margin: auto;
    padding: 0;
}

/*--------------------------------------------------------------------------*/


.divBotones{
    grid-area: shpcart;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.listaBotones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.itemCartWidget{
    display: flex;
    flex-direction: row;
    background-color: rgb(159, 193, 255);
    border-radius: 10px;
    padding: 5px;
    width: 40px;
    height: 27px;
}

*,
*::before,
*::after {
    box-sizing: inherit !important;
}

.deleteIcon{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 40px;
    height: 27px;
}